<div class="jumbotron mt-3">
    <h1 class="alert alert-danger">
        ERROR LOGIN
    </h1>
</div>
<script>
    setTimeout(() => {
        location.href = '/api/session/logout'
    }, 10000)
</script>